.header {
  width: 100%;
  margin-top: 16px;
  text-align: center;

  &__title {
    color: $black;
    font-size: 36px;
    font-weight: 700;
  }

  &__description {
    color: $dark-gray;
    margin-top: 8px;
  }
}